@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added below */


:root {
  /* CSS Variables */

  --min-color: #ffffff;
  --text-color: #000000;
  --bg-Color: #fc4c56;
  --secondary-color: #f3f4f6;


  font-family: "Amiri", serif;

  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}












